*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.section_box{
    /* overflow: hidden; */
    width: 100%;
}
.testimonal{
    min-height: 100vh;
    width: 100%;
    /* border: 1px solid red; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    background: rgb(24, 18, 18);
    color: white;
    padding: 10px;
    overflow: hidden;
    margin-left: -10px;
}

.projector{
    height: 400px;
    width: 70%;
    /* border: 1px solid  blue; */
    display: flex;
    align-items: center;
    padding: 10px;
    gap: 20px;
}
.writeUp{
    height: 350px;
    width: 450px;
    /* border: 1px solid rebeccapurple; */
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    position: relative;
}
.writeUp h2{
    font-size: x-large;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.writeUp p{
    font-size: 15px;
}
.post{
    height: 150px;
    width: 380px;
    background: #312C13;
    padding: 10px;
    color: white;
    border-radius: 5px;
}
#icon{
    position: absolute;
    font-size: 20px;
    bottom: 100px;
}
.lane{
    height: 70px;
    width: 380px;
    /* border: 1px solid blueviolet; */
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.pie{
    height: 50px;
    width: 60px;
    background-color: blueviolet;
    border-radius: 5px;
}
.pie img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
}
.picture{
    height: 40px;
    width: 150px;
    /* border: 1px solid blueviolet; */
}
.picture p{
    font-size: 15px;
    /* font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
    font-weight: 300;
}
.picture span{
    font-size: 10px;
}
.birds{
    height: 40px;
    width: 100px;
    /* border: 1px solid blueviolet; */
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.birds button{
    height: 35px;
    width: 35px;
    border-radius: 50%;
    border: 1px solid #F3DB61;
    /* border: none; */
    background-color: rgb(80, 80, 80);
    color: white;
}
.birds button:hover{
    background-color:#F3DB61;
    color: rgb(80, 80, 80);
    cursor: pointer;
}
.videoClip{
    height: 350px;
    width: 350px;
    /* border: 1px solid rebeccapurple; */
}
.videoClip img{
    height: 100%;
    width: 100%;
    object-fit: contain;
    object-position: center;
}
.idea{
    height: 400px;
    width: 80%;
    background: #121516;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 10px;
    border-radius: 8px;
}
.left{
    height: 250px;
    width: 350px;
    /* border: 1px solid red; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    padding: 15px;
}
.left h2{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.left p{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 15px;
}
input[type='button']{
    height: 30px;
    width: 150px;
    border-radius: 8px;
    border: none;
    background-color: white;
    color: rgb(14, 10, 10);
    margin-left: -50%;
    cursor: pointer;
}
.right{
    height: 250px;
    width: 350px;
    /* border: 1px solid red; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
.right a{
    height: 80px;
    width: 90%;
    text-decoration: none;
}
.email{
    height: 80px;
    width: 80%;
    background:  #121516;
    color: white;
    border-radius: 10px;
    display: grid;
    place-content: center;
    position: relative;
    box-shadow: 1px 1px 4px  #121516;
}
.email p{
    font-size: 15px;
}
.email span{
    font-size: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#mess{
    position: absolute;
    top: 30px;
    left: 8px;
    color: #FFD919;
}
#messa{
    position: absolute;
    top: 30px;
    left: 40px;
    color: #FFD919;
}
footer{
    height: 350px;
    width: 100%;
    /* border: 1px solid indianred; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding-top: 10px;
}
.join{
    height: 180px;
    width: 80%;
    /* border: 1px solid gray; */
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.connect{
    height: 150px;
    width: 300px;
    padding: 20px;
    position: relative;
}
.connect span{
    position: absolute;
    top: 40px;
    margin-left: 20px;
}
.connect p{
    margin-top: 10px;
}
.pic{
    height: 55px;
    width: 55px;
    display: inline-block;
}
.stage{
    height: 150px;
    width: 500px;
    /* border: 1px solid indianred; */
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-area: 10px;
    padding: 20px;
}
.stage a{
    font-size: 14px;
    text-decoration: none;
    color: white;
    opacity: 0.6;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.content{
    height: 50px;
    width: 80%;
    /* border: 1px solid indianred; */
}
.content p{
   font-size: 10px;
   margin: auto auto;
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}




@media screen and (max-width: 760px) {
    .testimonal{
        width: 100vw;
    }
    .projector{
        min-height: 750px;
        width: 100%;
        flex-direction: column;
        /* border: 1px solid red; */
        margin-left: 20px;
    } 
    .writeUp{
        width: 100%;
    }
    .post{
        width: 90%;
    }
    .videoClip{
        height: 350px;
        width: 100%;
    }
    .lane{
        width: 100%;
    }
    .idea{
        height: 500px;
        width: 100%;
        flex-direction: column;
    }
    .left>h2{
        margin-bottom: 20px;
    }
    .left>p{
        margin-bottom: 20px;
    }
    .left, .right{
        width: 100%;
    }
    input[type='button']{
        margin-left: 0;
    }
    .email{
        flex-wrap: wrap;
    }
    .email p{
        font-size: 14px;
    }
    footer{
        min-height: 80vh;
    }
    .connect{
        height: 120px;
    }
    .connect>p{
        display: none;
    }
    .join{
        height: 350px;
        flex-direction: column;
    }
    .stage{
        height: 200px;
        width: 100%;
        margin-top: 10px;
        grid-template-columns: auto auto;
    }
    .picture{
        width: 140px;
    }
    .birds{
        width: 80px;
    }
    #mess{
        display: none;
    }
    #messa{
        display: none;
    }
    
}




@media screen and (max-width: 320px) {
    #mess{
        top: 10px;
    }
    #messa{
        left: 20px;
    }
    .left{
        /* border: 1px solid blue; */
        gap: 10px;
    }
    .right{
        /* border: 1px solid red; */
        padding-top: 10px;
    }
    .idea{
        height: 850px;
        gap: 10px;
    }
    .email{
        height: 60px;
    }
    /* .pie{
        border: 1px solid red;
    } */
    .picture{
        /* border: 1px solid blanchedalmond; */
        width: 120px;
    }
    .lane{
        width: 105%;
        /* border: 1px solid green; */
    }
}



@media screen and (max-width: 890px) {
    .projector{
        height: 400px;
        width: 100%;
        margin-top: 30px;
    }
    .idea{
        height: 400px;
        width: 96%;
    }
    
}

